@mixin flex-layout($layout, $wrap) {
    display: flex;
    flex-direction: $layout;
    flex-wrap: $wrap;
}

@mixin flex-align($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-item($grow, $shrink, $initialSize) {
    flex-grow: $grow;
    flex-shrink: $shrink;
    flex-basis: $initialSize;
}